.discover{
    padding-left: 5%;
    padding-right: 5%;
    background-color:white;
    border: 2px solid rgb(255, 255, 255);
}
.d_search{
}
.d_search .search{
    width: 90%;
    background-color: rgb(244,244,244);
    gap: 30px;
    box-shadow: none;
}
.d_search input{
    background-color: rgb(244,244,244);
    /* border: 2px solid red; */
}
.slid_butts{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;

}
.slid_butts p{
    font-size: 11px;
    font-weight: 500;
    background-color: rgb(244,244,244);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: fit-content;
    border-radius: 10px;
    margin-right: 15px;

}

.ds_container {
  height: 80vh; 
  overflow-x: hidden;
  display: grid;
  padding-bottom: 10%;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: auto; 
  gap: 1rem;
  width: 100%;
}

.ds_box {
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  border: 1px solid rgb(176, 176, 176);
  flex-direction: column;
  /* overflow-y: hidden; */
}

.ds_box_ava {
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.ds_box p {
  font-weight: 500;
  text-align: left;
  padding: 0 10px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-wrap: wrap;
}

.ds_box_t {
  font-size: 10px;
  margin-top: 50px;
  padding-top: 15px;
}

.ds_box_hd {
  font-size: 12px;
}
